<!-- About Section -->
<section id="about">
<!-- <div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<h2 class="section-heading">About</h2>
</div>
</div>

<div class="row">
<div class="col-lg-2">
</div>

<div class="col-lg-8">


<p class="large text-muted">This project has 3 core areas of research:</p>
<ol class="large text-muted">
<li> Evaluating the economic impact of malaria control activities funded by the private foreign sector
<li> Assessing current "supply" side activities, beliefs and views regarding malaria control
<li> Assessing current "demand" side activities, beliefs and views regarding malaria control
</ol>
                




</div>
<div class="col-lg-2">
</div>


</div>
<div align='center'>
<a href="#details" class="page-scroll btn btn-xl">Details</a>
</div>
</div> -->

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">My main research focus is to develop machine learning methods that can help to decipher human disease heterogeneity. This involves combining data from multiple heterogeneous sources while addressing missing data and noise, simultaneous subtyping and feature selection in very sparse settings and more. Our contributions to machine learning include novel graph-based unsupervised feature selection methods and graphical models for subtyping in GWAS. We collaborate with clinicians to ensure that our work is relevant in the clinic.</h3>
                </div>
            </div>
            <div
                <h2>Spectacular Mountain</h2>
<img src="img/about/anna.png" class="img-responsive img-circle" 
            </div
        </div>
    </div>
</div>


</section>

