<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Current Research</h2>
                    <h3 class="section-subheading text-muted"> Current projects in the Lab, both finished and unfinished. Most diseases are complex, depending on multiple genetic, environmental and lifestyle factors. High throughput experiments facilitate data collection allowing some of that complexity to be captured. Different types of data provide varied, often complementary information about the same biological phenomenon. For example, genomic analyses of copy number alterations in cancer cells report on losses and amplifications of genomic regions, while genome wide RNA expression data provide evidence on the impact of genomic and environmental events on the internal wiring of the cell. In our lab we work on creating machine learning methods that make such data useful for clinical diagnosis.</h3>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                <div class="col-sm-2 col-sm-4 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-thumbnail" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
