<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Lab</h2>
                    <div/>
                     <div id = "current" class = "text-left">
                     <fieldset>
		<legend style="font-weight:400; margin:0px">Who we are and what we do</legend>
                        Anna Goldenberg is a Scientist in the Genetics and Genome Biology Lab at SickKids Research Institute and Assistant Professor in the Department of Computer Science (status only) at the University of Toronto (Computational Biology Group). 
                   
                        Professor Goldenberg's main research focus is to develop machine learning methods that can help decipher human disease heterogeneity. Her lab's contributions to machine learning include novel graph-based unsupervised feature selection methods and graphical models for subtyping in GWAS. They collaborate with clinicians to ensure that our work is relevant in the clinic.
                         </p>

Most diseases are complex, depending on multiple genetic, environmental and lifestyle factors. High throughput experiments facilitate data collection allowing some of that complexity to be captured. Different types of data provide varied, often complementary information about the same biological phenomenon. For example, genomic analyses of copy number alterations in cancer cells report on losses and amplifications of genomic regions, while genome wide RNA expression data provide evidence on the impact of genomic and environmental events on the internal wiring of the cell. In our lab we work on creating machine learning methods that make such data useful for clinical diagnosis. 
</div> 

<div id="box" class = "text-left" style="overflow-y: scroll; overflow-x:hidden; height:250px; width:300px;"> 
	<fieldset>
		<legend style="font-weight:400; margin:15px">Lab News</legend>
<ul>
  <li>Nov 18: Invited talk at Duke</li>
  <li>Nov 11: Invited talk at Brown</li>
  <li>Oct 30: Talk at Techna Symposium </li>
  <li>Oct 29: CIFAR talk on data integration</li>
  <li>Oct 15: Aziz's arXiv paper cited in Nature Methods </li>
  <li>Oct 30: Talk at Techna Symposium </li>

</ul>


 </div>
  </div>
 </div>
  </div>
 

            <div class = "text-center">
            <fieldset>
		<legend style="font-weight:400">Current Projects</legend>
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-thumbnail" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>            
            
    </section>
